[credential "https://github.com"]
	helper = 
	helper = !/home/linuxbrew/.linuxbrew/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/home/linuxbrew/.linuxbrew/bin/gh auth git-credential
[user]
	name = Chris Privitere
	email = 23177737+cprivitere@users.noreply.github.com
[pull]
	rebase = true
[fetch]
	prune = true
[diff]
	colorMoved = zebra
[rebase]
	autostash = true
[merge]
	autostash = true
[core]
	editor = code --wait
[commit]
    verbose = 2
    template = ~/.config/git/commit-template
[init]
	defaultbranch = main
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
